.header
{
    /* color: rgb(198, 26, 38); */
    color: rgb(176, 159, 7);
    text-align: center;
}
button
{
    background-color: white;
    width: 75%;
    height: 33px;
    margin-top: 30px;
    margin-bottom: 20px;
    border: 1.6px solid black;
    margin-left: 80px;
   
}
form
{
    background-color: rgb(176, 159, 7);
    max-width: 600px;
    /* height: auto; */
    margin: 50px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
    align-items: center;
    
    
}
.formcontrol label
{
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}
.formcontrol input
{
    border: 1.5px solid black;
    padding: 8px;
    /* display: block; */
    /* border-radius: 4px; */
    width: 95%;
    border: 1.4px solid black;
}